#main {
  margin: auto;
  border: 2px solid black;
  width: 800px;
}

h2  {
  font-size: 36px;
  text-align: center;
  font-family: 'Anonymous Pro';
  color: #2c3e50;
}


body {
  background: #76C3BD;
}

#controls {
  padding-top: 5px;
  font-size: 24px;
  text-align: center;
  font-family: 'Anonymous Pro';
  color: #2c3e50;
}
